<h1>Enter a cash amount</h1>
<form action="/coin_results">

  <div class="form-group">
    <label for="cash_input">Cash Amount</label>
    <input id="cash_input" name="cash_input" class="form_control" type="text">
  </div>
  <button id="submit" class="btn-success">Change!</button>
</form>
